<%= render :partial => "layouts/page_header", :locals => { :header => "List Index" } %>

<div id="content">
  <% if @lists.length == 0 %>
    <p>You don't have any lists.</p>
  <% else %>
    <% @lists.each do |list| %>
      <h3><%= list.name %> <%= link_to 'delete', list, :confirm => "Are you sure?", :method => :delete %></h3>
      <table id="item_list">
        <tr>
          <th class="label">Labels</th>
          <th class="name">Item</th>
          <th class="edit">Edit</th>
        </tr>
        <%= render :partial => "items/item", :collection => list.items, :locals => { :list => list } %>
        <tr id="new_item_row">
          <%= form_for [list, Item.new], :remote => true do |f| %>
            <td class="label">
              <% Label.all.each do |label| %>
                <%= check_box_tag "item[label_ids][]", label.id, @item.labels.include?(label) %>
                <%= f.label "label_ids_#{label.id}", "#{label.name}" %>
              <% end %>
              <%= link_to "new label", new_label_path %>
            </td>
            <td class="name">
              <%= f.text_field :name %>
              <%= f.submit %>
            </td>
          <% end %>
          <td class="edit"></td>
        </tr>
      </table>
      <hr/>
    <% end %>
  <% end %>
  <%= link_to 'Make a new list.', new_list_path %>
</div>
