<%= render :partial => "layouts/page_header" %>

<div id="content">
  <% if @lists.length == 0 %>
    <p>You don't have any lists.</p>
  <% else %>
    <% @lists.each do |list| %>
      <h3><%= list.name %> <%= link_to 'delete', list, :confirm => "Are you sure?", :method => :delete %></h3>
      <table>
        <tr>
          <th>Labels</th>
          <th>Item</th>
          <th>Edit</th>
        </tr>
        <% list.items.each do |item| %>
          <tr>
            <td class="label">
              <ul>
                <% item.labels.each do |label| %>
                  <li><%= label.name %></li>
                <% end %>
              </ul>
            </td>
            <td class="name"><%= item.name %></td>
            <td class="edit"><%= link_to 'e', edit_list_item_path(list, item) %> <%= link_to '×', list_item_path(list, item), :confirm => "Are you sure?", :method => :delete %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= link_to 'new item', new_list_item_path(list) %></td>
          <td></td>
        </tr>
      </table>
      <hr/>
    <% end %>
  <% end %>
  <%= link_to 'Make a new list.', new_list_path %>
</div>
