<%= form_for [@list, @item] do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <b><%= f.label :labels, "Labels" %></b><br/>
    <% Label.all.each do |label| %>
      <%= check_box_tag "item[label_ids][]", label.id, @item.labels.include?(label) %>
      <%= f.label "label_ids_#{label.id}", "#{label.name}" %>
    <% end %>
    <%= link_to "new label", new_label_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
