<tr id="<%= "list_#{list.id}_item_#{item.id}" %>" <%= "class=item-#{Item::STATUSES[item.status]}" if item.status == 1 %>>
  <td class="label">
    <ul>
      <% item.labels.each do |label| %>
        <li class="label-<%= label.id %>"><span style="background: #<%= label.color %>"><%= label.name %> <%= link_to '×', "/lists/#{list.id}/items/#{item.id}/remove_label/#{label.id}" %></span></li>
      <% end %>
    </ul>
  </td>
  <td class="name"><%= auto_link h item.name %> <b id="<%= "list_#{list.id}_item_#{item.id}_status" %>"><%= Item::STATUSES[item.status] %></b></td>
  <td class="edit"><%= link_to 'e', edit_list_item_path(list, item), :remote => true %> <%= link_to '▸', "/lists/#{list.id}/items/#{item.id}/start_task", :remote => true %> <%= link_to '×', list_item_path(list, item), :method => :delete, :remote => true %></td>
</tr>
