<!DOCTYPE html>
<html>
<head>
  <title>Get It Done!</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tag %>
	<%= stylesheet_link_tag "styles" %>
</head>
<body>
<div id="container">
  <div id="header" class="clearfix">
    <h1>Get It Done!</h1>
  </div>
  <%= yield %>
</div>
</body>
</html>
